<form [formGroup]="formCard" (ngSubmit)="onSubmit()">
  <div formGroupName="informacoesPessoais">
    <label for="nome">Nome</label>
    <input id="nome" formControlName="nome">
    <div *ngIf="formCard.get('informacoesPessoais.nome')?.invalid && formCard.get('informacoesPessoais.nome')?.touched">
      Nome é obrigatório.
    </div>

    <label for="idade">Idade</label>
    <input id="idade" formControlName="idade">
    <div *ngIf="formCard.get('informacoesPessoais.idade')?.invalid && formCard.get('informacoesPessoais.idade')?.touched">
      Idade é obrigatória e deve ser um número.
    </div>

    <label for="telefone">Telefone</label>
    <input id="telefone" formControlName="telefone">
    <div *ngIf="formCard.get('informacoesPessoais.telefone')?.invalid && formCard.get('informacoesPessoais.telefone')?.touched">
      Telefone é obrigatório.
    </div>

    <label for="email">E-mail</label>
    <input id="email" formControlName="email">
    <div *ngIf="formCard.get('informacoesPessoais.email')?.invalid && formCard.get('informacoesPessoais.email')?.touched">
      E-mail é obrigatório e deve ser válido.
    </div>
  </div>

  <div formGroupName="endereco">
    <label for="numero">Número</label>
    <input id="numero" formControlName="numero">
    <div *ngIf="formCard.get('endereco.numero')?.invalid && formCard.get('endereco.numero')?.touched">
      Número é obrigatório.
    </div>

    <label for="bairro">Bairro</label>
    <input id="bairro" formControlName="bairro">
    <div *ngIf="formCard.get('endereco.bairro')?.invalid && formCard.get('endereco.bairro')?.touched">
      Bairro é obrigatório.
    </div>

    <label for="cidade">Cidade</label>
    <input id="cidade" formControlName="cidade">
    <div *ngIf="formCard.get('endereco.cidade')?.invalid && formCard.get('endereco.cidade')?.touched">
      Cidade é obrigatória.
    </div>
  </div>
<app-button type="submit" [disabled]="formCard.invalid" [labelButton]="'Enviar'"></app-button>

</form>
